
/* #region hero */

@media screen and (min-width: 980px){
    
    .hero-img-wrapper img {
        width: 100%;
        border-bottom: none;
    }
    .hero {
        width: 100%;
        height: calc(100vh - 176.42px);
    }
}
.hero-img-wrapper{
    display: flex;
    justify-content: center;
}
.hero {
    width: 100%;
    position: relative;
}


.hero-img-wrapper {
    position: relative;
}

.hero:before {
    position: absolute;
    content: "";
    width: 883px;
    height: 2px;
    background: #64DAAB;
    bottom: 0;
    left: calc(50% - 441.5px);
    z-index: 1;
}
.swiper {
    width: 100vw;
    height: calc(100vh - 176.42px);
}
.swiper-slide.slide-1{
    background: url(/sites/images/home/img-banner-1.webp);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.swiper-slide.slide-2 {
    background: url(/sites/images/home/img-banner-2.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0;
    text-align: center;
    margin-top: -190px;
}

.num-large {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 100px;
}

.num-large span {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 60px;
}

.slide-wrapper > div > div:nth-child(2) {
    font-size: 20px;
}

.slide-wrapper > div {
    padding: 0 40px;
    border-right: 2px solid #64DAAB;
    min-width: 266px;
}

.slide-wrapper > div:nth-child(1) {
    border-left: 2px solid #64DAAB;
}
@media screen and (max-width: 1440px){
    .swiper-slide.slide-1{
        background: url(/sites/images/home/img-banner-1.webp);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media screen and (max-width: 979px){
    .swiper-slide.slide-2 {
        background: url(/sites/images/home/img-banner-2.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .swiper-slide.slide-1{
        background: url(/sites/images/home/img-banner-1.webp);
        background-size: 130%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .num-large {
        font-family: 'Inter';
        font-weight: bold;
        font-size: 50px;
    }
     .swiper {
        width: 100vw;
        height: 600px;
    }
    .num-large span {
        font-family: 'Inter';
        font-weight: bold;
        font-size: 30px;
    }
    .slide-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        gap:32px;
    }
    .slide-wrapper > div {
        padding: 0 20px;
        border-right: none;
        /* width: 185px !important; */
    }
    
    .slide-wrapper > div:nth-child(1) {
        border-left: none;
    }
}
@media screen and (max-width: 767px){
    .swiper {
        width: 100vw;
        height: 400px;
    }
    .slide-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        gap: 24px;
    }
    .slide-wrapper > div {
        min-width: unset;
    }
    .num-large{
        font-size: 60px;
    }
    .slide-wrapper > div > div:nth-child(2) {
        font-size: 24px;
    }
    .hero-img-wrapper img {
        width: 100%;
        border-bottom: 2px solid #64DAAB;
    }
    .hero:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: #64DAAB;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}
/* #endregion */

/* #region about us */
@media screen and (min-width: 980px){
    section.about-us {
        height: calc(100vh - 71px);
    }    
}
section.about-us {
    background: url(/sites/images/home/bg-about-us.webp);
    padding: 80px 0;
    background-size: cover;
    position: relative;
}
section.about-us:before {
    position: absolute;
    content: "";
    width: 883px;
    height: 2px;
    background: #64DAAB;
    bottom: 0;
    left: calc(50% - 441.5px);
    z-index: 1;
}
h2.common-title {
    font-size: 96px;
    font-family: Inter;
    font-weight: bold;
    text-transform: capitalize;
}
.ab-content {
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 500;
    max-width: 831px;
}

.ab-content > div {
    padding-bottom: 16px;
}

.ab-feedback {
    text-align: right;
    font-size: 30px;
}

.ab-feedback > div {
    padding-bottom: 24px;
}

@media screen and (max-width: 767px){
    section.about-us {
        padding: 30px 0
    }
    h2.common-title{
        font-size: 32px;
    }
    section.about-us:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: #64DAAB;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .ab-content {
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 500;
        max-width: 831px;
    }
    
    .ab-content > div {
        padding-bottom: 8px;
    }
    
    .ab-feedback {
        text-align: right;
        font-size: 18px;
    }
    
    .ab-feedback > div {
        padding-bottom: 16px;
    }

}
/* #endregion */

/* #region our service  */
.os-viewmore {
    display: none;
}
@media screen and (min-width: 980px){
    section.our-service {
        height: calc(100vh - 71px);
    }    
}
section.our-service {
    background: url(/sites/images/home/bg-our-service.webp);
    background-size: cover;
    padding: 80px 0 150px;
    position: relative;
}
/* section.our-service:before {
    position: absolute;
    content: "";
    width: 883px;
    height: 2px;
    background: #64DAAB;
    bottom: 0;
    left: calc(50% - 441.5px);
    z-index: 1;
} */
.our-service-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 53px 104px;
    font-size: 30px;
    font-family: 'Inter';
    font-weight: 600;
    padding-top: 32px;
}

.our-service-box > div {
    border: 2px solid #64DAAB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    cursor: pointer;
    position: relative;
}

.our-service-box > div:hover {
    text-decoration: underline;
}

.our-service-box > div:hover .os-viewmore {
    display: block;
    position: absolute;
    top: -34px;
}

@media screen and (max-width: 767px){
    section.our-service {
        padding: 30px 0 30px;
    }
    .our-service-box {
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px 16px;
        font-size: 16px;
        font-family: 'Inter';
        font-weight: 600;
        padding-top: 16px;
    }
    /* section.our-service:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: #64DAAB;
        bottom: 0;
        left: 0;
        z-index: 1;
    } */
}
/* #endregion */
/* #region our clients */
section.our-clients {
    padding: 80px 0 0;
    position: relative;
}

section.our-clients:before {
    position: absolute;
    content: "";
    width: 883px;
    height: 2px;
    background: #64DAAB;
    bottom: 0;
    left: calc(50% - 441.5px);
    z-index: 1;
}
@media screen and (max-width: 767px){
    section.our-clients {
        padding: 30px 0 0;
        position: relative;
    }

    section.our-clients:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: #64DAAB;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}
/* #endregion */

/* #region contact */

h2.contact-title {
    font-size: 54px;
    font-family: 'Inter';
    font-weight: 700;
    text-transform: capitalize;
}

.contact {
    padding: 80px 0;
    font-family: Inter;
}

.contact-des {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 32px;
}
.contact-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
}

.contact-address span {
    font-size: 21px;
    font-family: 'Inter';
}

.contact-address-box {
    padding: 16px 0 0;
}

.srfm-submit-container {
    font-family: Inter;
}

.contact-address-box > div {
    position: relative;
    padding: 0 0 16px 40px;
}

.contact-address-box > div:nth-child(1):before {
    position: absolute;
    content: url(/sites/images/home/ic-location.svg);
    top: 5px;
    left: 0;
}
.contact-address-box > div:nth-child(2):before {
    position: absolute;
    content: url(/sites/images/home/ic-phone.svg);
    top: -3px;
    left: 0;
}
.srfm-form-container .srfm-form {
    column-gap: 0 !important;
    row-gap: 0 !important;
}
.srfm-form-container .srfm-form .srfm-block:not(.srfm-number-block) .srfm-input-common , 
.srfm-form-container .srfm-form .srfm-block .srfm-dropdown-common-wrap .srfm-dropdown-common .ts-control{
    border-radius: 50px;
    border: 1px solid #fff !important
}

@media screen and (max-width: 979px){
    .contact-col {
        grid-gap: 32px;
    }
    .contact {
        padding: 40px 0;
    }
    .contact-des {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 16px;
    }
    
    .contact-address span {
        font-size: 16px;
        font-family: 'Inter';
    }
    h2.contact-title {
        font-size: 32px;
        font-family: 'Inter';
        font-weight: 700;
        text-transform: capitalize;
    }
}

@media screen and (max-width: 767px){
    .contact-col {
        grid-gap: 24px;
        grid-template-columns: 1fr;
    }
    .contact {
        padding: 30px 10px;
    }
    .contact-des {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 16px;
    }
    
    .contact-address span {
        font-size: 16px;
        font-family: 'Inter';
    }
    h2.contact-title {
        font-size: 32px;
    }
}
/* #endregion */